<div class="doily-gallery">
  <h2>$100 +</h2>

  <p>These doilies range between 8" to 12" wide.</p>

  <div class="gallery-container">
    <div data-target="modal-1" class="gallery-card">
      #1
      <img src="{{ '/img/doily-4.jpg' | url}}" class="modal-target">
    </div>
    <div>
      #2
      <img src="{{ '/img/doily-2.jpg' | url }}" class="modal-target">
    </div>
    <div>
      #3
      <img src="{{ '/img/doily-a.jpg' | url }}" class="modal-target">
    </div>
    <div>
      #4
      <img src="{{ '/img/doily-b.jpg' | url }}" class="modal-target">
    </div>
  </div>

  <h2>$50 +</h2>

  <div class="gallery-container">
    <div>
      #5
      <img src="{{ '/img/doily-5.jpg' | url}}" class="modal-target">
    </div>
    <div>
      #6
      <img src="{{ '/img/doily-6.jpg' | url }}" class="modal-target">
    </div>
    <div>#7</div>
    <div>#8</div>
  </div>
</div>

<div id="modal" class="modal">
  <span id="modal-close" class="modal-close">&times;</span>
  <img id="modal-content" class="modal-content">
  <div id="modal-caption" class="modal-caption"></div>
</div>